<form name='addTodoForm' style='display: flex;flex-direction: column;width:400px;'>
    <input name='title' type="text" placeholder="title"/>
    <span>Status<input name='status' type="checkbox"></span>
    <input type="submit" value="Send"/>
</form>